{% extends "common_code/index.html" %}
{% load static %}

{% block title %}home page {% endblock title %}

{% block content %}


{% comment %} <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'image/slider.jpg' %}" class="d-block w-100 " alt="..." >
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/slider2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/slider.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div> {% endcomment %}


{% endblock content %}